<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Favicon -->
<link rel="shortcut icon" href="./img/svg/logo.svg" type="image/x-icon" />
<!-- Custom styles -->
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{/css/main.css}" rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css" />
<title>CloseStudy</title>
</head>
<body class="bg-light">
	<div class="page-flex">
		<div th:replace="fragments/sidebar :: sidebarCS"></div>
		<div class="main-wrapper">
			<div class="row justify-content-center">
			<div class="col-md-3">
				<div class="card card-body">
					<span th:if="${session.arrendador!=null}">Bienvenido<span class="font-italic" th:text="${session.arrendador.nomArrendador}"></span></span>
					<form th:action="@{/logout}"method="post">
						<button type="submit"class="btn btn-primary mt-3">Salir</button>
					</form>
				</div>
			</div>
			</div>
			<div class="container">
    		<form th:action="@{/aviso/registrar}" method="post" th:object="${aviso}">
    			<div class="form-group">
    				<label for="idAviso">ID:</label>
    				<input type="text" class="form-control" th:field="*{idAviso}"></input>
    				
    				<div class="form-group">
    					<label for="nombre">Precio:</label>
    					<input type="text" class="form-control" th:field="*{preHabitacion}" id="precio"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('preHabitacion')}" 
								th:errors="*{preHabitacion}">
						</div>    					
    				</div>
    				
    				<div class="form-group">
                        <label for="nombre">Rangos de precio: </label>
                        <select class="form-control" th:field="*{rangoPrecio}" >
                                  <option value="Rango A">A(150-250)</option>
                                  <option value="Rango B">B(250-500)</option>
                                  <option value="Rango C">C(500 a mas)</option>

                        </select>
                    </div>
    				
    				<div class="form-group">
    					<label for="nombre">FECHA:</label>
    					<input type="date" class="form-control" th:field="*{fechaPublicacion}" id="fechaHabitacion"></input>

						<div 	class="alert alert-danger" th:if="${#fields.hasErrors('fechaPublicacion')}" 
								th:errors="*{fechaPublicacion}">
						</div>    					
    				</div>
					<div class="form-group">
    					<label for="nombre">Habitacion</label>
    					<select class="form-control" th:field="*{habitacion.idHabitacion}">
    						<option th:each="d: ${listaHabitaciones}"
    							th:value="${d.idHabitacion}"
    							th:text="${d.desHabitacion}"
    							th:selected="(${d.idHabitacion} == *{habitacion.idHabitacion})">
    						</option>    					
    					</select>
    				</div>    
   				
    			</div>
    			<button type="submit" class="btn btn-primary">Guardar</button>
    			<a href="/aviso/listar" class="btn btn-danger">Cancelar</a>
    		</form>
    	</div>
    	<div th:replace="fragments/footer :: footer"></div>
		</div>
	</div>
</body>
</html>

